<div class="card ml-3 mr-3 ">
  <div class="mt-3 ml-3">
    <h2>Usuarios</h2>
  </div>
  <div class="card">
    <div class="card border-info mb-3" style="max-width: 23rem;">
      <div class="card-header">Manejar usuarios</div>
      <div class="card-body">
        <!-- HTML !-->
        <button class="btn btn-1 btn-sep icon-info" (click)="usuariosclick()">Usuarios</button>
      </div>
    </div>
  </div>
</div>

<div class="card ml-3 mr-3 ">
  <div class="mt-3 ml-3">
    <h2>Administrar Habitaciones</h2>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3">

      <div class="card">
        <div class="card border-info mb-3" style="max-width: 23rem;">
          <div class="card-header">Tipos de habitaciones</div>
          <div class="card-body">
            <!-- HTML !-->
            <button class="btn btn-1 btn-sep icon-info" (click)="tiposclick()">Tipos de Habitaciones</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-3">

      <div class="card">
        <div class="card border-info mb-3" style="max-width: 23rem;">
          <div class="card-header">Manejar Habitaciones</div>
          <div class="card-body">
            <!-- HTML !-->
            <button class="btn btn-1 btn-sep icon-info" (click)="habitacionesclick()">Habitaciones</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-3">

      <div class="card">
        <div class="card border-info mb-3" style="max-width: 23rem;">
          <div class="card-header">Manejar Camas</div>
          <div class="card-body">
            <!-- HTML !-->
            <button class="btn btn-1 btn-sep icon-info" (click)="camasclick()">Camas</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="card ml-3 mr-3 ">
  <div class="mt-3 ml-3">
    <h2>Administrar Productos</h2>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3">

      <div class="card">
        <div class="card border-info mb-3" style="max-width: 23rem;">
          <div class="card-header">Categorias de productos</div>
          <div class="card-body">
            <!-- HTML !-->
            <button class="btn btn-1 btn-sep icon-info" (click)="categoriasclick()">Categorias de productos</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-3">

      <div class="card">
        <div class="card border-info mb-3" style="max-width: 23rem;">
          <div class="card-header">Manejar productos</div>
          <div class="card-body">
            <!-- HTML !-->
            <button class="btn btn-1 btn-sep icon-info" (click)="productosclick()">Productos</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-3">

      <div class="card">
        <div class="card border-info mb-3" style="max-width: 23rem;">
          <div class="card-header">Manejar servicios</div>
          <div class="card-body">
            <!-- HTML !-->
            <button class="btn btn-1 btn-sep icon-info" (click)="serviciosclick()">Servicios</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>