<div class="card ml-3 mr-3 ">
    <div class="card-header">
        <button id="newCategoria" class="btn btn-primary bg-gradient-primary" (click)="newProdClick()">
            <div class="icon " [ngClass]="btnstatus ? 'opened' : 'closed'">
                <div class="circle">
                    <div class="horizontal"></div>
                    <div class="vertical"></div>
                </div>
                Formulario de productos
            </div>
        </button>
    </div>
    <div class="card-body">

        <div class="card mx-auto" #collapse="ngbCollapse" [(ngbCollapse)]="!btnstatus" style="max-width: 70%;">
            <form [formGroup]="formProducto" (ngSubmit)="procesarGuardado()">
                <div class="card-header text-bg-primary text-center">
                    <h3 class="card-title">{{titulo}}</h3>
                </div>
                <div class="card-body">
                    <input type="text" readonly hidden formControlName="codigo">


                    <div class="form-row">
                        <div class="form-group col-md-6">

                            <div class="form-group">
                                <label for="categoria" class="control-label required">Categoria de producto</label>
                                <select id="categoria" class="form-select" formControlName="Categoria"
                                    [ngClass]="isFieldValid('Categoria')">
                                    <option *ngFor="let categoria of listaCategorias" [ngValue]="categoria.Codigo">
                                        {{ categoria.Descripcion }}
                                    </option>
                                </select>
                                <div class="error invalid-feedback" [innerText]="getErrorMsg('Categoria')"></div>
                            </div>

                            <label for="categoria" class="control-label required">Categoria de producto</label>
                            <div class="input-group mb-3">
                                <select id="categoria" class="form-select" formControlName="Categoria"
                                    [ngClass]="isFieldValid('Categoria')">
                                    <option *ngFor="let categoria of listaCategorias" [ngValue]="categoria.Codigo">
                                        {{ categoria.Descripcion }}
                                    </option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button"
                                        (click)="open(categorias)">...</button>
                                </div>
                                <div class="error invalid-feedback" [innerText]="getErrorMsg('Categoria')"></div>
                            </div>

                            <div class="form-group">
                                <label for="nombre" class="control-label">Nombre del producto</label>
                                <input id="nombre" type="text" class="form-control input-sm" formControlName="Nombre"
                                    placeholder="Nombre del producto" [ngClass]="isFieldValid('Nombre')">
                                <div class="error invalid-feedback" [innerText]="getErrorMsg('Nombre')"></div>
                            </div>

                            <div class="form-group">
                                <label for="descripcion" class="control-label">Descripcion del producto</label>
                                <input id="descripcion" type="text" class="form-control input-sm"
                                    formControlName="Descripcion" placeholder="Descripcion del producto"
                                    [ngClass]="isFieldValid('Descripcion')">
                                <div class="error invalid-feedback" [innerText]="getErrorMsg('Descripcion')"></div>
                            </div>

                        </div>

                        <div class="form-group col-md-6">

                            <div class="form-group">
                                <label for="precioc" class="control-label required">Precio de compra</label>
                                <input id="precioc" type="number" class="form-control input-sm"
                                    formControlName="PrecioCompra" placeholder="00.00"
                                    [ngClass]="isFieldValid('PrecioCompra')">
                                <div class="error invalid-feedback" [innerText]="getErrorMsg('PrecioCompra')"></div>
                            </div>

                            <div class="form-group">
                                <label for="preciov" class="control-label required">Precio de venta</label>
                                <input id="preciov" type="number" class="form-control input-sm"
                                    formControlName="PrecioVenta" placeholder="00.00"
                                    [ngClass]="isFieldValid('PrecioVenta')" autocomplete="false">
                                <div class="error invalid-feedback" [innerText]="getErrorMsg('PrecioVenta')"></div>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="card-footer text-center">
                    <button type="submit" class='btn btn-primary mx-2' [disabled]="!formProducto.valid"><i
                            class='fa fa-check-circle-o'></i>
                        Guardar</button>
                    <button type="reset" class='btn btn-danger mx-2' (click)="newProdClick()"><i
                            class='fa fa-times-circle-o'></i>
                        Cancelar</button>
                </div>
            </form>
        </div>

        <div class="card" #collapse="ngbCollapse" [(ngbCollapse)]="btnstatus">
            <div class="card-header text-bg-success">
                <h3 class="card-title">Listado de productos</h3>
            </div>
            <div class="card-body">
                <mat-form-field appearance="fill" style="font-size: 14px; width: 50%;">
                    <mat-label>Buscar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="buscar.." #input autocomplete="off">
                </mat-form-field>
                <div class="mat-elevation-z8">
                    <mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="position">
                            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                            <mat-cell *matCellDef="let element; index as i"> {{paginator.pageSize * paginator.pageIndex
                                + i + 1}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Categoria">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.Categoria}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del producto </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.Nombre}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion del producto
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.Descripcion}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="PrecioCompra">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Precio de compra </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.PrecioCompra}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="PrecioVenta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Precio de venta </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.PrecioVenta}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="estado">
                                <button class='btn  btn-sm' (click)="changeStatus(row.Codigo)"
                                    matTooltipPosition="right" matTooltip="Cambiar estado de la categoria"
                                    [ngClass]="(row.Estado=='V')?'btn-success':'btn-danger'">
                                    {{ row.Estado == 'V'?'Activo':'Inactivo' }}
                                </button>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="acciones">
                                <button class='btn btn-warning btn-sm mx-2' (click)="getProducto(row.Codigo || 0)">
                                    <i class="fa fa-pencil-square-o"></i> Editar
                                </button>
                                <button class='btn btn-danger btn-sm mx-2' (click)="deleteProducto(row.Codigo || 0)">
                                    <i class='fa fa-trash-o'></i> Eliminar
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Elija pagina">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #categorias let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">

        <app-categorias></app-categorias>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">cerrar</button>
    </div>
</ng-template>